# 1. ZADAĆA

TODO: 
- uvod
    - ideja
    - cilj?
    - prilagodba baze podataka- kopiranje, 1-5BR
---------------------------
- mali pregled pandas-a

In [1]:
import pandas as pd 
loto = pd.read_excel('Loto7od39.xls')

In [2]:
loto.columns

Index(['KOLO', 'DATUM', '1BR', '2BR', '3BR', '4BR', '5BR', '6BR', '7BR',
       'ZLATNA KUGLICA', 'SLOVO ZA "SUPER7"', 'DOBITAK"7"', 'DOBITAK "SUPER7"',
       'JOKER', 'UPLATA LOTO 7/39', 'UKUPNO ZA "7"', 'UPLATA "SUPER7"',
       'UKUPNO ZA "SUPER7"'],
      dtype='object')

In [3]:
loto.head()

,KOLO,DATUM,1BR,2BR,3BR,4BR,5BR,6BR,7BR,ZLATNA KUGLICA,"SLOVO ZA ""SUPER7""","DOBITAK""7""","DOBITAK ""SUPER7""",JOKER,UPLATA LOTO 7/39,"UKUPNO ZA ""7""","UPLATA ""SUPER7""","UKUPNO ZA ""SUPER7"""
0,104.0,30.12.,1,2,8,9,10,13,16,NE,B,-,-,296138.0,1520966.7,10000000,299564.1,1.70123e+07
1,103.0,27.12.,1,3,7,9,21,27,36,NE,A,-,-,977316.0,1173935.7,10000000,225656.1,1.69336e+07
2,102.0,23.12.,8,12,13,21,27,30,39,NE,B,-,-,718903.0,1444570.2,10000000,283858.2,1.68744e+07
3,101.0,20.12.,4,8,16,17,18,19,25,NE,B,-,-,987865.0,1344880.8,10000000,260028.9,1.67999e+07
4,100.0,16.12.,3,8,9,12,17,29,34,NE,A,-,-,837929.0,1464625.8,10000000,273955.5,1.67316e+07

In [4]:
loto.dtypes

KOLO                  float64
DATUM                  object
1BR                     int64
2BR                     int64
3BR                     int64
4BR                     int64
5BR                     int64
6BR                     int64
7BR                     int64
ZLATNA KUGLICA         object
SLOVO ZA "SUPER7"      object
DOBITAK"7"             object
DOBITAK "SUPER7"       object
JOKER                 float64
UPLATA LOTO 7/39      float64
UKUPNO ZA "7"          object
UPLATA "SUPER7"       float64
UKUPNO ZA "SUPER7"     object
dtype: object

--------------------
# Pogledajmo DATUM

In [5]:
loto[['KOLO','DATUM']][:20]

     KOLO   DATUM
0   104.0  30.12.
1   103.0  27.12.
2   102.0  23.12.
3   101.0  20.12.
4   100.0  16.12.
5    99.0  13.12.
6    98.0   9.12.
7    97.0   6.12.
8    96.0   2.12.
9    95.0  29.11.
10   94.0  25.11.
11   93.0  22.11.
12   92.0  18.11.
13   91.0  15.11.
14   90.0  11.11.
15   89.0   8.11.
16   88.0   4.11.
17   87.0   1.11.
18   86.0  28.10.
19   85.0  25.10.

Uočimo da se u bazi nalaze datumi na razne načine zapisani te nisu navedene godine. Budući da će nam biti potrebni točni datumi za izradu određenih grafova te pregled kola po godinama stoga na početku prilagodimo bazu podataka budućim zahtjevima.

### DATUM convertiramo iz object u date time
TODO: pseudokod?

Postupak:
1. iz stringa DATUM izvuc dan 
2. iz stringa DATUM izvuc mjesec
3. dodati godinu ovisno o kolu
4. nova tri stupca spojis u datum

In [6]:
num_of_rows= loto["KOLO"].count()
num_of_rows

939

In [7]:
def convert_date():
    year= []
    month= []
    dani= []
    y=2017
    for i in range (0, num_of_rows ):
        first_dot= loto['DATUM'][i].find(".")
        d= int(loto['DATUM'][i][0:first_dot])
        second_dot= loto['DATUM'][i].find(".", first_dot + 1)
        m = int(loto['DATUM'][i][first_dot+1:second_dot])

        if (i>0 and (loto['KOLO'][i-1]<loto['KOLO'][i] ) ):
            y = y- 1


        month.append(m)
        dani.append(d)
        year.append(y)

    loto['DAN']= dani
    loto['MJESEC']= month
    loto['GOD']= year
    loto['DATUM'] = pd.to_datetime(dict(year=loto['GOD'], month=loto['MJESEC'], day=loto['DAN']))

In [8]:
convert_date()

#### Drugi naćim konvertiranja u objekat koji preponaje format datuma
TODO: ubaci ga u code

for i in range (0, num_of_rows ):
    god = "2017"
    first_dot= loto['DATUM'][i].find(".")
    dan= (loto['DATUM'][i][0:first_dot])
    second_dot= loto['DATUM'][i].find(".", first_dot + 1)
    mj = (loto['DATUM'][i][first_dot+1:second_dot])
    date=dan + "-" + mj + "-" + god
    #print ( date )
    loto['DATUM'].replace(to_replace=loto['DATUM'][i], value=date, inplace=True)

In [9]:
loto[['KOLO','DATUM']][:20]

     KOLO      DATUM
0   104.0 2017-12-30
1   103.0 2017-12-27
2   102.0 2017-12-23
3   101.0 2017-12-20
4   100.0 2017-12-16
5    99.0 2017-12-13
6    98.0 2017-12-09
7    97.0 2017-12-06
8    96.0 2017-12-02
9    95.0 2017-11-29
10   94.0 2017-11-25
11   93.0 2017-11-22
12   92.0 2017-11-18
13   91.0 2017-11-15
14   90.0 2017-11-11
15   89.0 2017-11-08
16   88.0 2017-11-04
17   87.0 2017-11-01
18   86.0 2017-10-28
19   85.0 2017-10-25

In [10]:
loto.dtypes

KOLO                         float64
DATUM                 datetime64[ns]
1BR                            int64
2BR                            int64
3BR                            int64
4BR                            int64
5BR                            int64
6BR                            int64
7BR                            int64
ZLATNA KUGLICA                object
SLOVO ZA "SUPER7"             object
DOBITAK"7"                    object
DOBITAK "SUPER7"              object
JOKER                        float64
UPLATA LOTO 7/39             float64
UKUPNO ZA "7"                 object
UPLATA "SUPER7"              float64
UKUPNO ZA "SUPER7"            object
DAN                            int64
MJESEC                         int64
GOD                            int64
dtype: object

In [11]:
loto.head()

,KOLO,DATUM,1BR,2BR,3BR,4BR,5BR,6BR,7BR,ZLATNA KUGLICA,...,"DOBITAK""7""","DOBITAK ""SUPER7""",JOKER,UPLATA LOTO 7/39,"UKUPNO ZA ""7""","UPLATA ""SUPER7""","UKUPNO ZA ""SUPER7""",DAN,MJESEC,GOD
0,104.0,2017-12-30,1,2,8,9,10,13,16,NE,...,-,-,296138.0,1520966.7,10000000,299564.1,1.70123e+07,30,12,2017
1,103.0,2017-12-27,1,3,7,9,21,27,36,NE,...,-,-,977316.0,1173935.7,10000000,225656.1,1.69336e+07,27,12,2017
2,102.0,2017-12-23,8,12,13,21,27,30,39,NE,...,-,-,718903.0,1444570.2,10000000,283858.2,1.68744e+07,23,12,2017
3,101.0,2017-12-20,4,8,16,17,18,19,25,NE,...,-,-,987865.0,1344880.8,10000000,260028.9,1.67999e+07,20,12,2017
4,100.0,2017-12-16,3,8,9,12,17,29,34,NE,...,-,-,837929.0,1464625.8,10000000,273955.5,1.67316e+07,16,12,2017

Funkcija convert_date() dijeluje na stupac 'DATUM' te kao rezultat daje pregledan zapis datuma.

Budući da nam stupci DAN, MJESEC više nisu potrebni možemo ih obrisati. Radi preglednosti tip podataka stupca 'KOLO' iz float prebacimo u integer.

In [12]:
del loto['DAN'], loto['MJESEC']

In [13]:
loto['KOLO'][:10]

0    104.0
1    103.0
2    102.0
3    101.0
4    100.0
5     99.0
6     98.0
7     97.0
8     96.0
9     95.0
Name: KOLO, dtype: float64

----------------------------
TODO: mali pregled numpy-a

In [14]:
import numpy as np
loto['KOLO'] = loto['KOLO'].astype(np.int64)

In [15]:
loto.dtypes

KOLO                           int64
DATUM                 datetime64[ns]
1BR                            int64
2BR                            int64
3BR                            int64
4BR                            int64
5BR                            int64
6BR                            int64
7BR                            int64
ZLATNA KUGLICA                object
SLOVO ZA "SUPER7"             object
DOBITAK"7"                    object
DOBITAK "SUPER7"              object
JOKER                        float64
UPLATA LOTO 7/39             float64
UKUPNO ZA "7"                 object
UPLATA "SUPER7"              float64
UKUPNO ZA "SUPER7"            object
GOD                            int64
dtype: object

------------------
# IDEJE
- max, min pojavljivanje jednog broja
- vjv pojave pojedniog broja
- dodati stupac suma brojeva --> max, min suma
    - linijski graf sume i datuma 
- 3D graf broj - broj - suma - 
- funk za provjeru dali je izvucen isti niz brojeva
- struktura- nizovi
- rekurzivna funkcija za moguće nizove
    - u funkciju dodati ograničenost na sumu niza, sumu vjv pojave pojedinog broja, vjv pojave dva broja u kombinaciji.. dok ne dodes do kolicine nizova koji su mozda smisleni
- kolicina pojave određena dva/tri.. broja zajedno
- izvucen dobitak - kolika uplata/sumaNiza spram ostalih izvlacenja